<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>semi university</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .logo-img {
            max-height: 100px;
            width: auto;
        }
        header {
            padding: 0 20px;
            width: 1300px;
        }
        .navbar {

        }
    </style>
</head>
<body>
<div class="header" th:fragment="header">
    <nav class="navbar bg-body-tertiary fixed-top">
        <div class="container-fluid">
            <div class="navbar-brand d-flex align-items-center">
                <a th:href="@{/}" class="d-flex align-items-center">
                    <img th:src="@{/images/logo.png}" alt="logo" class="logo-img" style="height: 100px">
                </a>
            </div>
            <ul class="nav justify-content-center">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" style="color: black;">카테고리</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Separated link</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span style="font-size: 20px; font-weight: bold;">MY</span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex mt-3" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
    <header class="container d-flex align-items-center justify-content-between border-bottom" style="height: 100px;">
        <div class="d-flex align-items-center">
            <a th:href="@{/}" class="d-flex align-items-center">
                <img th:src="@{/images/logo.png}" alt="logo" class="logo-img" style="height: 100px">
            </a>
        </div>

        <div class="text-end">
            <a role="button" id="login" class="btn btn-outline-primary me-2 btn-sm"
               sec:authorize="!isAuthenticated()"
               th:href="@{user/login}">로그인</a>

            <a role="button" id="signUp" class="btn btn-outline-primary me-2 btn-sm"
               sec:authorize="!isAuthenticated()"
               th:href="@{user/signUp}">회원가입</a>

            <a role="button" id="profile" class="btn btn-outline-primary me-2 btn-sm"
               sec:authorize="isAuthenticated()"
               th:href="@{/}">마이페이지</a>

            <a role="button" id="loginout" class="btn btn-outline-primary me-2 btn-sm"
               sec:authorize="isAuthenticated()"
               th:href="@{/logout}">로그아웃</a>
        </div>
    </header>
</div>
</body>
</html>