<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>semi university</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <style>
        .logo-img {
            max-height: 100px;
            width: auto;
        }
        .header {
            padding: 0 20px;
            max-width: 1000px;
        }
        .container {
            max-width: 1000px;
        }
    </style>
</head>
<body>
<div class="header" th:fragment="header">
    <header class="container d-flex align-items-center justify-content-between" style="height: 100px;">
    <nav class="navbar bg-body-tertiary fixed-top">
        <div class="container-fluid">
            <div class="navbar-brand d-flex align-items-center">
                <a th:href="@{/}" class="d-flex align-items-center">
                    <img th:src="@{/images/logo.png}" alt="logo" class="logo-img" style="height: 100px">
                </a>
            </div>
            <ul class="nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" style="color: black;">카테고리</a>
                    <ul class="dropdown-menu">
                        <li th:each="category : ${categoryList}">
                            <a class="dropdown-item" th:href="@{/product/list(categoryCode=${category.categoryCode})}" th:text="${category.categoryName}"></a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" style="color: black;">고객센터</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">공지사항</a></li>
                        <li><a class="dropdown-item" th:href="@{/event}">이벤트</a></li>
                        <li><a class="dropdown-item" th:href="@{/board}">문의게시판</a></li>
                    </ul>
                </li>
<!--                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>-->
            </ul>

            <div class="text-end">
                <span sec:authorize="isAuthenticated()" style="font-size: 17px; font-weight: bold; margin-right: 12px;" th:text="${username + '님 '}"></span>
                <a role="button" id="profile" class="btn btn-outline-secondary me-2 btn-sm"
                   sec:authorize="isAuthenticated()"
                   th:href="@{/cart}">&nbsp;<i class="bi bi-cart" style="font-size: 15px;  font-weight: bold;"></i>&nbsp; </a>
                <button class=" btn btn-outline-secondary me-2 btn-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation" sec:authorize="isAuthenticated()">
                    <span style="font-size: 15px; font-weight: bold;">MY메뉴</span>
                </button>
                <a role="button" id="login" class="btn btn-outline-secondary me-2 btn-sm"
                   sec:authorize="!isAuthenticated()"
                   th:href="@{/login}">로그인</a>

                <a role="button" id="signUp" class="btn btn-outline-secondary me-2 btn-sm"
                   sec:authorize="!isAuthenticated()"
                   th:href="@{/signUp}">회원가입</a>

                <a role="button" id="logout" class="btn btn-outline-secondary me-2 btn-sm"
                   sec:authorize="isAuthenticated()"
                   th:href="@{/logout}">로그아웃</a>
            </div>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">MY메뉴</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <br>
                <hr>
                <br>
                <div class="offcanvas-body" th:if="${userRole == 'ROLE_USER' || userRole == 'ROLE_TEMP'}">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">장바구니</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/wish}">위시리스트</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/order/list}">주문내역</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/delivery/list}">배송지관리</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">쿠폰내역</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/point/list}">포인트관리</a>
                        </li>
                        <li class="nav-item" th:if="${userRole == 'ROLE_ADMIN'}">
                            <a class="nav-link" th:href="@{/manage/userMng}">고객관리</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/user/userInfoModify}">내정보수정</a>
                        </li>
                    </ul>
                </div>
                <div class="offcanvas-body" th:if="${userRole == 'ROLE_SELLER'}">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/seller/insert}">상품등록</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/seller/list}">상품 관리</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/seller/returnList}">반품 관리</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/seller/delivery}">배송 관리</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/seller/sales}">판매 현황</a>
                        </li>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/user/userInfoModify}">내정보수정</a>
                        </li>
                    </ul>
                </div>
                <div class="offcanvas-body" th:if="${userRole == 'ROLE_ADMIN'}">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">장바구니</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/wish}">위시리스트</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">주문내역</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{delivery/deliveryList}">배송지관리</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">쿠폰내역</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{point/pointList}">포인트관리</a>
                        </li>
                        <li class="nav-item" th:if="${userRole == 'ROLE_ADMIN'}">
                            <a class="nav-link" th:href="@{manage/userMng}">고객관리</a>
                        </li>
<!--                        <li class="nav-item dropdown">-->
<!--                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                                Dropdown-->
<!--                            </a>-->
<!--                        <ul class="dropdown-menu">-->
<!--                            <li><a class="dropdown-item" href="#">식품</a></li>-->
<!--                            <li><a class="dropdown-item" href="#">전자제품</a></li>-->
<!--                            <li><a class="dropdown-item" href="#">가전제품</a></li>-->
<!--                        </ul>-->
<!--                        </li>-->
                        <li class="nav-item">
                            <a class="nav-link" href="#">마이페이지</a>
                        </li>
                    </ul>
<!--                    <form class="d-flex mt-3" role="search">-->
<!--                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--                        <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--                    </form>-->
                </div>
            </div>
        </div>
    </nav>
    </header>


</div>
</body>
</html>